# Binaries
*.exe
*.dll
*.so
*.dylib

.DS_Store
.claude
.docs
.vscode
CLAUDE.md

#ide
.run/
/.idea

# Test Binary
*.test

# Coverage
*.out

#db
db_data/

#env
.env

# http
http-client.env.json
*.http
.vscode

#temp
tmp/

#rabbitmq
rabbitmq_data/